<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>SMadathil's team</title>
</head>
<body>
<div class="header">
    <div class="header-text">
        <h1 class="title">SMADATHIL'S<br/><span>TEAM</span></h1>
        <div class="works">
        <h1 id="text">In our team we work <br/>with <span class="sliding-text"> amazing things</span></h1>
        <p>Our  team envision the use of data, analytical methods and technology to empower society, leading to an overall improvement in health and health care while maintaining equity.</p>
        </div>
    </div>
    <div class="container">
        <div class="menu">
            <ul>
                <li class="active">Home</li>
                <li>Contact us</li>
                <li>About us</li>
            </ul>
        </div>
        <div class="clipped">
        </div>
    </div>
    <svg class="svg">
        <clipPath id="my-clip-path" clipPathUnits="objectBoundingBox">
            <path d="M1,0.144 V0.93 c0,0.039,-0.022,0.071,-0.05,0.071 H0.456 c-0.028,0,-0.05,-0.032,-0.05,-0.071 h0 c0,-0.039,-0.022,-0.071,-0.05,-0.071 H0.051 c-0.028,0,-0.05,-0.032,-0.05,-0.071 V0.072 C0.001,0.033,0.023,0.001,0.051,0.001 H0.951 c0.028,0,0.05,0.032,0.05,0.071 v0.071"></path></clipPath>
    </svg>
    <div class="team-member">
        <h3>Our current team members</h3>
        <div class="imges">
            <img id = "ktt" src="/css/img/ktt.jpeg">
            <img id = "shk" class = "middle" src="/css/img/shk.jpg">
            <img id = "zd" class = "middle" src="/css/img/zd.jpeg">
            <img id = "ms" class = "middle" src="/css/img/ms.jpeg">
            <img id = "sm" class = "middle" src="/css/img/sm.jpeg">
        </div>
    </div>
</div>
<div class="member-detail">
    <div class="profile">
        <img id ="close" src="/css/img/close.png">
    <div class="ktt disactive">
        <img class="prof-pic" src="https://media.licdn.com/dms/image/D4E03AQFeOBERbG_4PQ/profile-displayphoto-shrink_400_400/0/1662738903464?e=1722470400&v=beta&t=Ap2MxKwAF7zMjrVHYcJymF-6SaeQoqs_G3_uiOzMg2E" alt="Kioumars Tavakoli Tafti">
                            <h3><b>Kioumars Tavakoli Tafti</b></h3>
                            <ul>
                                <li><a href="https://github.com/KioumarsTavakoli">
                                    <img class="icon" src="/css/img/github-mark.png" width="25" height="25" alt="Github profile"> Github profile
                                </a></li>
                                <li><a href="https://www.linkedin.com/in/kioumars-tavakoli-tafti/">
                                    <img class="icon" src="/css/img/linkedin.png" width="25" height="25" alt="Linkedin profile"> Linkedin profile
                                </a></li>
                            </ul>
    </div>
    <div class="shk disactive">
        <img class="prof-pic" src="/css/img/shk.jpg" alt="Shashank Kannan">
        <h3><b>Shashank Kannan</b></h3>
        <ul>
            <li><a href="https://github.com/Shashank4268">
                <img class="icon" src="/css/img/github-mark.png" width="25" height="25" alt="Github profile"> Github profile
            </a></li>
            <li><a href="https://www.linkedin.com/in/shashank-kannan-0a0048218/">
                <img class="icon" src="/css/img/linkedin.png" width="25" height="25" alt="Linkedin profile"> Linkedin profile
            </a></li>
        </ul>
    </div>
    <div class="zd disactive">
        <img class="prof-pic" src="/css/img/zd.jpeg" alt="Shashank Kannan">
        <h3><b>Zaneta D'Souza</b></h3>
        <ul>
            <li><a href="https://github.com/Shashank4268">
                <img class="icon" src="/css/img/github-mark.png" width="25" height="25" alt="Github profile"> Github profile
            </a></li>
            <li><a href="https://www.linkedin.com/in/shashank-kannan-0a0048218/">
                <img class="icon" src="/css/img/linkedin.png" width="25" height="25" alt="Linkedin profile"> Linkedin profile
            </a></li>
        </ul>
    </div>
    <div class="ms disactive">
        <img class="prof-pic" src="https://media.licdn.com/dms/image/D4D03AQGUjJuucrmnzA/profile-displayphoto-shrink_800_800/0/1699414596007?e=1722470400&v=beta&t=MVgF6IBz7e3R5mx-tRS5EbpUsgZ5ySM7Zjlg_mTqTw8" alt="Mridul Sharma">
                            <h3><b>Mridul Sharma</b></h3>
                            <ul>
                                <li><a href="https://github.com/SharmaM-dev">
                                    <img class="icon" src="/css/img/github-mark.png" width="25" height="25" alt="Github profile"> Github profile
                                </a></li>
                                <li><a href="https://www.linkedin.com/in/mridul-sharma-b124491a0/">
                                    <img class="icon" src="/css/img/linkedin.png" width="25" height="25" alt="Linkedin profile"> Linkedin profile
                                </a></li>
                            </ul>
    </div>
    <div class="sm disactive">
        <img class="prof-pic" src="https://media.licdn.com/dms/image/D4E03AQFLNiDour1PyQ/profile-displayphoto-shrink_800_800/0/1700160493134?e=1722470400&v=beta&t=IdfMXI1eTYf6h6ZifXRQNpIaXo_shUxU4yfsV6vtiJ8" alt="Sreenath Madathil">
                            <h3><b>Sreenath Madathil</b></h3>
                            <ul>
                                <li><a href="https://github.com/MadathilSA">
                                    <img class="icon" src="/css/img/github-mark.png" width="25" height="25" alt="Github profile"> Github profile
                                </a></li>
                                <li><a href="https://www.linkedin.com/in/sreenath-madathil-946649114/">
                                    <img class="icon" src="/css/img/linkedin.png" width="25" height="25" alt="Linkedin profile"> Linkedin profile
                                </a></li>
                            </ul>
    </div>
</div>
</div>
<div class="project">
    <h1>
        Our Projects:
    </h1>
    <div class="projects">
    <div class="jelly">
        <div class="text">
            <h3>jelly beans project</h3>
            <p> The Jelly beans app is an interactive way of showing and demonstrating how the bayesian approach works by counting jelly beans.</p>
        </div>
        <a href="https://apps.smadathil.com/jellybeans/"><button class="button"><img src="/css/img/link.png"></button></a>
    </div>
    <div class="cohs">
        <div class="text">
            <h3>COHS dashboard project</h3>
            <p> The Canadian Oral Health (COH) dashboard is a data visualizations dashboard which presents the data from Canadian Health Measures Survey</p>
        </div>
        <a href="https://apps.smadathil.com/cohdashboard/"><button class="button"><img src="/css/img/link.png"></button></a>
    </div>
    <p class="footer">Designed by Kioumars Tavakoli Tafti</p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
</body>
</html>