body{
    background-color: #0b1419;
    font-family: arial;
}

.header{
    position: relative;
    height: 720px;
    display: flex;
    justify-content: space-between;
}

.header h1.title{
    line-height: 30px;
    padding: 0;
    position: absolute;
    top: 120px;
    margin-left: -85px;
    font-size: 3rem;
    color: white;
    transform: rotate(-90deg);
}
.header span{
    font-size: 2rem;
}
.works{
    width: 53%;
    position: absolute;
    bottom: 200px;
    left: 40px;
    font-size: .6em;
    color: white;

    span{
        font-size: 1em;
    }
    p{
        font-size: 1.1em;
        line-height: 15px;
        width: 23%;
        text-align: justify;
    }
}
.menu{
    ul{
    list-style: none;
    padding: 20px 2px;
    border-radius: 30px;
    position: absolute;
    top: 10px;
    right: 50%;
    transform: translateX(+100%);
    background: rgba(42, 60, 23, 0.15);
    box-shadow: 0 8px 32px 0 rgba(39, 58, 58, 0.37);
    backdrop-filter: blur( 22.5px );
    -webkit-backdrop-filter: blur( 22.5px );
    z-index: 2
    }
    li{
        color: white;
        display: inline;
        background: rgba(163, 163, 163, 0.344);
        border-radius: 20px;
        margin: 0  10px;
        padding: 10px 20px;
        transition: all 0.3s ease-in-out; 
    }
    li:hover{
        cursor: pointer;
        color: rgb(27, 35, 8);
        background-color: rgba(254, 253, 253, 0.882);
    }
    li.active{
        color: rgb(27, 35, 8);
        cursor: default;
        background: rgba(254, 253, 253, 0.882);
    }
}

.team-member{

    position: absolute;
    bottom: 40px;
    right: 40px;
    z-index: 2;
    color: white;
    background: rgba(42, 60, 23, 0.15);
    box-shadow: 0 8px 32px 0 rgba(46, 58, 39, 0.37);
    backdrop-filter: blur( 22.5px );
    -webkit-backdrop-filter: blur( 22.5px );
    border-radius: 40px;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    img{
        border-radius: 50px;
        width: 70px;
        transition: transform .3s ease;
        position: relative;
    }
    img:hover{
        transform: translateY(-10px);
        cursor: pointer;
    }
    #ktt{
        z-index: 1;
    }
    #shk{
        z-index: 2;
    }
    #zd{
        z-index: 3;
    }
    #ms{
        z-index: 4;
    }
    #sm{
        z-index: 5;
    }
    .middle{
        margin-left: -25px;
    }
}
.member-detail{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 20;
    background: rgba(42, 60, 23, 0.15);
    backdrop-filter: blur( 22.5px );
    -webkit-backdrop-filter: blur( 22.5px );
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: none;

    #close{
        position: absolute;
        top: 10px;
        right: 10px;
    }
    #close:hover{
        cursor: pointer;
        filter: invert(100);
    }

    .profile {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        color: rgb(27, 35, 8);
        background: rgba(254, 253, 253, 0.882);
        border: 1px solid rgb(255, 255, 255);
        padding: 20px 120px;
        border-radius: 20px;


    }
    .prof-pic {
        border-radius: 30px;
        width: 150px;
        height: 150px;
        margin-bottom: 5px;
        margin-top: 20px;
      }
      h3 {
        color: black;
      }
      
      ul {
        list-style: none; /* Remove default list styling */
        padding: 0; /* Remove default padding */
        margin: 0; /* Remove default margin */
        margin-left: 15px;
      }
      
      li {
        display: inline-block; /* Change display to inline-block */
        margin-right: 5px; /* Add margin between list items */
        padding-bottom: 3px;
      }
      a{
        text-decoration: none;
        color: black;
        transition: color 0.3s ease, background-color 0.3s ease;
        display: flex;  
        align-items: center;
        border: #121611 solid 1px;
        padding: 5px 10px;
        border-radius: 20px;
        
         
      }
      a:hover{
        color: #0c9799;
        background-color: #0b1419;
      }
      .icon{
        margin-right: 5px;
        width: 20px;
        height: 20px;
      }
      a:hover>.icon{
        filter: grayscale() invert(1) brightness(2); 
      }
      
}


.zd, .ktt, .shk, .ms, .sm{
    opacity: 1;
    transition: all 0.3 ease;
}
.zd.disactive, .ktt.disactive, .shk.disactive, .ms.disactive, .sm.disactive{
    display: none;
    opacity: 0;
}


.clipped {
    z-index: 1;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 80%;
    height: 700px;
    background: url(img/header2.png);
    background-size: 120%;
    background-position: -10px -10px;
    -webkit-clip-path: url(#my-clip-path);
    clip-path: url(#my-clip-path);
  }

.sliding-text{
    display: inline-block;
    animation: slideUp 2s infinite;
}

@keyframes slideUp {
    0% { transform: translateY(50%);
    opacity: 0; }
    20% { transform: translateY(0%); 
    opacity: 1;}
    80% { transform: translateY(0%); 
    opacity: 1;}
    100% { transform: translateY(-50%); 
    opacity: 0;}
}
.project{
    margin-left: 3%;
    margin-top: -150px;
    text-align: justify;
    color: white;
}
.projects{
    display: flex;
    position: relative;
    .footer{
        position: absolute;
        bottom: 40px;
        right: 45px;
        color: rgb(12, 151, 153);
        font-size: 0.8rem;
        opacity: 0.5;
    }
    
}

.jelly,.cohs{
    position: relative;
    display: flex;
    margin-right: 2%;
    align-items: center;
    position: relative;
    width: 20%;
    border: 1px solid white;
    border-radius: 20px;
    padding: 0px 20px;
    color: white;
    
    button{
        border-radius: 20px;
        color: #121611;
        position: absolute;
        right: 10px;
        top: 10px;
        padding: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba(163, 163, 163, 0.344);
        backdrop-filter: blur( 22.5px );
        border: none;
        transition: background .3s ease;
        clip-path: circle(50%);


    }


    img{
        width: 80%;
        transform: translate(0%,0%);
        opacity: 1;
    }

    button:hover{
        cursor: pointer;
        background: rgba(244, 244, 244, 0.792);
    }
    button:hover>img{
        animation: arrow .8s ease-in;

    }
}

.jelly::before, .cohs::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    opacity: 0;
    transition: opacity 0.9s ease;
    z-index: -10; 
}

.jelly:hover::before, .cohs:hover::before {
    opacity: 1;
    background: radial-gradient(circle at var(--mouse-x, 50%) var(--mouse-y, 50%), rgba(12, 151, 153, 0.26), rgba(255, 255, 255, 0));
}


@keyframes arrow {
    0%{
        transform: translate(0%,0%);
        opacity: 1;
    }
    5%{
        transform: translate(-10%,10%);

    }
    48%{
        transform: translate(120%,-120%);
        opacity: 1;
    }
    49%{
        transform: translate(120%,-120%);
        opacity: 0;
    }
    50%{
        transform: translate(-120%,120%);
        opacity: 0;
    }
    51%{
        transform: translate(-120%,120%);
        opacity: 1;
    }
    90%{
        transform: translate(10%,-10%);
    }
    100%{
        transform: translate(0%,0%);
        opacity: 1;
    }

}
@media (max-width:1290px) {
    
.clipped {

    width: 75%;
    height: 675px;

  }
  .works{
    width: 53%;
    position: absolute;
    bottom: 200px;
    left: 3%;
    font-size: .75vw;

    span{
        font-size: 1em;
    }
    p{
        font-size: .7vw;
        width: 28%;
    }
}
.jelly,.cohs{
    font-size: 1.3vw;
    width: 19%;
}
.cohs h3{
    width: 80%;
}
.project h1{
    font-size: 2vw;
}
.team-member{
    width: 25%;
    padding: 10px 10px;
    .middle{
        margin-left: -10%;
    }
}
.team-member img{
    width: 25%;

}
    
}

@media (max-width:800px) {
    
    .clipped {
    
        width: 70%;
        height: 700px;
    
      }
    
        
    }
            /* Custom cursor styles */
.custom-cursor {
    display: none;
    position: absolute;
    pointer-events: none;
    border-radius: 10px;
    background-color: #0b1419;
    color: #0c9799;
    z-index: 9999;
 }
 .cursor-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    text-align: justify;
    font-size: 10px;
    width: 50px;
 }